@import '~slick-carousel/slick/slick.css';

.slider {
    background-color: $gray;
    font-size: 26px;
    padding: 40px 0 20px 0;

    &__notice {
        display: none;
        background-color: $orange;
        font-size: 20px;
        text-align: center;
        padding: 10px 35px;
        box-shadow: 5px 5px 12px $black-light;
        line-height: 1.4;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 4px;
        color: $white;
        margin-top: 45px;
        margin-left: 49px;
        margin-right: 23px;
        color: $white;
        text-decoration: none;
        transition: 0.2s;

        &:first-letter {
            font-size: 27px;
        }
    }

    &__container {
        @include container;
    }

    &__row {
        @include row;
        align-items: center;
    }

    &__column_dot {
        @include col(14, 14, 8, 8, 8);

        &:nth-child(3) {
            .slider__dot-wrapper {
                padding-left: 0;
                margin-left: -25px;
            }
        }
    }

    &__column_slider {
        @include col(8, 8, 8, 8, 8);
    }

    &__dot-wrapper {
        padding-left: 74px;
        position: relative;

        &:before {
            content: '';
            width: 40px;
            height: 40px;
            background-image: url('./dot.svg');
            display: inline-block;
            vertical-align: middle;
            opacity: 0;
            visibility: hidden;
            margin-right: 26px;
            transition: 0.4s;
        }

        &_active {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }

        & + .slider__dot-wrapper {
            padding-top: 62px;
        }
    }

    &__dot {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        line-height: 1.2;
        color: $gray-dark;
    }

    &__phone {
        height: 700px;
        background-image: url('./phone-slider.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        position: relative;
        z-index: 5;
    }

    &__main {
        height: 495px;
        width: 320px;
        top: 94px;
        left: 97px;
        z-index: 1;
        position: absolute;
    }

    &__slide {
        img {
            width: 100%;
        }
    }

    &__phone-wrapper {
        &:after {
            top: 5%;
            bottom: 5%;
            left: 18%;
            right: 18%;
            content: '';
            position: absolute;
            display: inline-block;
            box-shadow: 1px 1px 190px $gray-dark;
            border-radius: 50px;
        }
    }

    &__app-buttons {
        @include push(0, 0, 6, 6, 6);
        @include col(12, 12, 12, 12, 12);
        padding-top: 60px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: $large-device-width-point) {
    .slider {
        font-size: 21px;
        padding: 40px 0 30px 0;

        &__dot-wrapper {
            padding-left: 34px;

            &:before {
                width: 30px;
                height: 30px;
            }
        }

        &__phone {
            height: 500px;
        }

        &__phone-wrapper {
            &:after {
                left: 20%;
                right: 20%;
                top: 11%;
                bottom: 11%;
            }
        }

        &__main {
            height: 350px;
            width: 226px;
            top: 67px;
            left: 80px;
            overflow: hidden;
        }

        &__dot-wrapper {
            & + .slider__dot-wrapper {
                padding-top: 48px;
            }
        }

        &__column_dot {
            padding-right: 0;

            &:nth-child(3) {
                .slider__dot-wrapper {
                    margin-left: -50px;
                }
            }
        }

        &__app-buttons {
            padding-top: 30px;
        }
    }
}

@media (max-width: $small-device-width-point) {
    .slider {
        font-size: 17px;
        padding: 30px 0 20px 0;

        &__dot-wrapper {
            & + .slider__dot-wrapper {
                padding-top: 52px;
            }

            &:before {
                width: 25px;
                height: 25px;
            }
        }

        &__phone {
            height: 440px;

            &:after {
                left: 1%;
                right: 1%;
            }
        }

        &__main {
            height: 309px;
            width: 200px;
            top: 58px;
            left: 60px;
        }

        &__app-buttons {
            padding-top: 20px;
        }

        &__phone-wrapper {
            &:after {
                left: 19%;
                right: 19%;
                top: 6%;
                bottom: 6%;
            }
        }
    }
}

@media (max-width: $tablet-device-width-point) {
    .slider {
        padding: 55px 0 67px 0;

        &__column_dot:last-child {
            display: none;
        }

        &__phone {
            height: 390px;
        }

        &__phone-wrapper {
            &:after {
                left: 13%;
                right: 13%;
                top: 9%;
                bottom: 9%;
                border-radius: 30px;
            }
        }

        &__main {
            top: 50px;
            left: 36px;
            height: 276px;
            width: 178px;
        }

        &__dot-wrapper {
            padding-left: 20px;

            & + .slider__dot-wrapper {
                padding-top: 35px;
            }
        }

        &__notice {
            display: none;
        }

        &__dot-wrapper {
            padding-left: 84px;

            &:before {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            & + .slider__dot-wrapper {
                padding-top: 32px;
            }
        }
    }
}
