.footer {
    background-color: $black;
    padding: 25px 0;
    color: $gray;

    &__container {
        @include container;
    }

    &__row {
        @include row;
        align-items: center;
    }

    &__info {
        @include col(0, 12, 7, 7, 6);
        line-height: 1.2;
        font-size: 24px;
    }

    &__menu {
        @include col(0, 12, 4, 4, 6);
    }

    &__app-buttons {
        @include col(0, 24, 13, 13, 12);
    }

    &__medialine {
        text-align: right;
        padding-top: 5px;
        font-size: 13px;
    }

    &__medialine-link {
        color: $white;
        text-decoration: none;
        transition: 0.2s;

        &:hover {
            color: $green;
        }
    }
}

@media (max-width: $large-device-width-point) {
    .footer {
        &__info {
            font-size: 18px;
        }
    }
}

@media (max-width: $small-device-width-point) {
    .footer {
        &__info {
            font-size: 15px;
            padding-left: 55px;
        }

        &__medialine {
            text-align: left;
            padding-left: 40px;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__medialine-link {
            color: $green;
        }
    }
}
