.footer {
    background-color: $black-opacity;
    padding: 35px 0 42px 0;
    color: $gray;

    &__container {
        @include container;
    }

    &__row {
        @include row;
        align-items: center;
    }

    &__info {
        @include col(14, 8, 8, 6, 6);
        @include push(1, 4, 0, 1, 0);
        line-height: 1.2;
        font-size: 24px;

        a {
            color: $gray;
            text-decoration: none;
            transition: 0.2s;

            &:hover {
                color: $green;
            }
        }
    }

    &__menu {
        @include col(8, 10, 4, 4, 6);
        @include push(1, 4, 0, 1, 0);
        padding-left: 22px;
    }

    &__app-buttons {
        @include col(0, 24, 12, 12, 12);
        @include push(0, 0, 0, 1, 0);
        padding-right: 8px;
    }

    .app-buttons {
        margin-left: -30px
    }
}

@media (max-width: $large-device-width-point) {
    .footer {
        padding: 26px 0 27px 0;

        &__info {
            font-size: 18px;
            padding-left: 25px;
            margin-left: -13px;
        }

        &__menu {
            padding-left: 10px;
        }

        &__app-buttons {
            padding-right: 0;
            margin-left: 15px;
        }
    }
}

@media (max-width: $small-device-width-point) {
    .footer {
        padding: 22px 0 21px 0;

        &__info {
            font-size: 15px;
            padding-left: 66px;
            margin-left: 0;
        }

        &__app-buttons {
            padding-right: 15px;
            margin-left: 0px;
        }

        .app-buttons {
            margin-left: 0;
        }

        &__menu {
            padding-left: 10px;
        }
    }
}

@media (max-width: $tablet-device-width-point) {
    .footer {
        &__info {
            padding-left: 15px;
        }

        &__menu {
            padding-left: 35px;
        }
    }
}
