.inner-page {
    background-color: $gray;
    padding: 50px 0 40px 0;
    font-size: 28px;
    color: $gray-dark;
    width: 100%;

    &__container {
        @include container-narrow;
        padding: 0 20px;
        box-sizing: border-box;
    }

    p {
        padding-bottom: 10px;
    }

    &__form {
        width: 40%;
        padding-top: 29px;

        /*.form__field {
            width: 250px;
            min-width: 250px;
        }*/

        .form__field-block {
            padding-bottom: 25px;
        }
    }
}

@media (max-width: $large-device-width-point) {
    .inner-page {
        font-size: 22px;
    }
}

@media (max-width: $small-device-width-point) {
    .inner-page {
        font-size: 17px;
        padding: 44px 0;

        p {
            padding-bottom: 7px;
        }

        .features {
            padding: 0 15px;
        }

        .feature-block__text {
            display: block;
        }

        .feature-block__title {
            border-bottom: 1px solid $gray-dark;
        }

        /*&__form {
            .form__field {
                width: 193px;
                min-width: 193px;
            }
        }*/
    }
}

@media (max-width: $tablet-device-width-point) {
    /*.inner-page {
        &__form {
            .form__field {
                width: 60%;
                min-width: 60%;
            }
        }
    }*/
}


@media (max-width: $mobile-device-width-point) {
    .inner-page {
        &__form {
            width: 100%;
        }

        &__form {
            .form__field {
                width: 60%;
                min-width: 60%;
            }
        }
    }
}
