.features {
    background-color: $gray;
    padding: 0;
}

@media (max-width: $mobile-device-width-point) {
    .features {
        padding: 0 30px;
    }
}

@media (max-width: $small-mobile-device-width-point) {
    .features {
        padding: 0 15px;
    }
}
