.big-banner {
    background-image: url('./map1920.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    padding: 67px 0 169px 0;
    color: $white;

    &__container {
        @include container;
    }

    &__row {
        @include row;
    }

    &__phone {
        height: 750px;
        min-height: 750px;
        @include col(14, 8, 7, 6, 6);
        background-image: url('./phone.png');
        background-size: contain;
        background-repeat: no-repeat;
        @include push(5, 8, 2, 2, 2);
    }

    &__info {
        @include col(0, 12, 12, 12, 12);
        @include push(0, 6, 3, 4, 4);
        padding-top: 109px;
    }

    &__info-text {
        background-color: $orange;
        font-size: 48px;
        text-align: center;
        padding: 23px 70px;
        box-shadow: 5px 5px 8px $black-light;
        line-height: 1.4;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 4px;
        margin-bottom: 20px;
        margin-left: -30px;

        &:first-letter {
            font-size: 62px;
        }
    }

    .app-buttons {
        margin-left: -30px;
    }
}

@media (max-width: $large-device-width-point) {
    .big-banner {
        padding: 30px 0;

        &__info-text {
            background-color: $orange;
            font-size: 34px;

            &:first-letter {
                font-size: 46px;
            }
        }

        &__phone {
            height: 520px;
            background-position: 15px top;
        }

        &__info {
            padding-top: 74px;
        }
    }
}

@media (max-width: $small-device-width-point) {
    .big-banner {
        padding: 30px 0 90px 0;

        &__phone {
            height: 460px;
        }

        &__info {
            padding-top: 68px;
        }

        &__info-text {
            font-size: 28px;
            padding: 16px 60px;

            &:first-letter {
                font-size: 38px;
            }
        }
    }
}

@media (max-width: $tablet-device-width-point) {
    .big-banner {
        padding: 25px 0 49px 0;

        &__row {
            flex-direction: column;
        }

        &__phone {
            height: 390px;
            background-position: center center;
        }

        &__info-text {
            font-size: 20px;
            padding: 13px 40px;
            line-height: 1.6;
            margin-left: 0;

            &:first-letter {
                font-size: 28px;
            }
        }

        &__info {
            padding-top: 29px;
        }
    }
}

@media (max-width: $mobile-device-width-point) {
    .big-banner {
        background-image: url('./background-mobile.jpg');
        background-size: cover;
        padding: 45px 0 49px 0;

        &__info {
            display: none;
        }

        &__phone {
            height: 540px;
        }
    }
}

@media (max-width: $small-mobile-device-width-point) {
    .big-banner {
        padding: 30px 0 14px 0;

        &__phone {
            height: 347px;
        }
    }
}
