.get-app {
    position: relative;

    background-color: $green;
    border-radius: 3px;
    color: $white;
    padding: 25px 40px;
    width: 674px;
    box-sizing: border-box;

    &__info {
        font-size: 31px;
        width: 330px;
        padding-left: 20px;
    }

    &__field-block {
        width: 304px;
        min-width: 304px;
    }

    &__captha {
        width: 304px;
        min-width: 304px;
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__button-block {
        width: 330px;
        padding-left: 20px;
    }

    &__button {
        display: inline-block;
        border: 2px solid $white;
        padding: 10px;
        outline: none;
        text-transform: uppercase;
        background-color: $green;
        transition: 0.2s;
        color: $white;
        border-radius: 4px;
        font-size: 24px;
        cursor: pointer;

        &:hover {
            background-color: $orange;
            border: 2px solid $orange;
        }
    }

    &__field {
        width: 100%;
        height: 50px;
        border-radius: 4px;
        background-color: $gray;
        border: 3px solid transparent;
        font-size: 24px;
        outline: none;
        transition: 0.2s;
        padding: 0 10px;
        box-sizing: border-box;

        &:focus {
            border: 3px solid $orange;
        }
    }

    &__error {
        color: $red;
        padding-top: 5px;
    }

    &__success {
        color: $white;
        padding-top: 5px;
    }
}

@media (max-width: $large-device-width-point) {
    .get-app {
        width: 660px;

        &__info {
            font-size: 22px;
            line-height: 1.3;
        }

        &__button-block {
            padding-left: 38px;
        }

        &__info {
            padding-left: 38px;
        }
    }
}

@media (max-width: $small-device-width-point) {
    .get-app {
        width: 600px;
        padding: 17px 31px 10px 31px;

        &__info {
            font-size: 18px;
        }

        &__button {
            font-size: 18px;
        }

        &__field {
            height: 44px;
        }

        &__button-block {
            padding-left: 32px;
        }
    }
}
