.top-menu {
    font-weight: 700;
    font-size: 26px;
    width: 100%;
    display: none;
    position: absolute;
    right: 0;
    width: 300px;
    top: 120px;
    text-align: left;
    background-color: $green;
    text-transform: uppercase;
    font-weight: 300;
    padding: 20px 0;
    z-index: 1;
    right: 30px;

    &__link {
        padding: 15px 30px;
        display: block;
        position: relative;
        color: $white;
        text-decoration: none;
        transition: 0.2s;

        &:hover {
            background-color: $white;
            color: $green;
        }
    }

    &__line {
        height: 11px;
        background-color: $white;
        display: block;
        transition: 0.2s;
        width: 68px;

        &:nth-child(1) {
            transform-origin: right top;
        }

        &:nth-child(3) {
            transform-origin: right bottom;
        }

        &:nth-child(2) {
            margin: 11px 0;
        }
    }

    &__menu-button {
        width: 88px;
        background-color: $green;
        padding: 8px;
        outline: none;
        display: inline-block;
        transition: 0.2s;
        cursor: pointer;
        border-radius: 3px;
        border: 3px solid transparent;

        &_active {
            background-color: $green;
            border: 3px solid $white;

            .top-menu__line {
                background-color: $white;
            }

            .top-menu__line:nth-child(1){
            	transform: translate(-11px, -1px) rotate(-42deg) scalex(1.1);
            }
            .top-menu__line:nth-child(2){
            	opacity: 0;
            }
            .top-menu__line:nth-child(3){
            	transform: translate(-9px, 2px) rotate(42deg) scalex(1.1);
            }
        }

        &:hover {
            border: 3px solid $white;
        }
    }
}

@media (max-width: $large-device-width-point) {
    .top-menu {
        font-size: 30px;
        right: 0;
        top: 105px;

        &__line {
            height: 8px;
            width: 50px;

            &:nth-child(2) {
                margin: 8px 0;
            }
        }

        &__menu-button {
            width: 72px;

            &_active {
                .top-menu__line:nth-child(1){
                	transform: translate(-5px, -3px) rotate(-42deg) scalex(1.2);
                }
                .top-menu__line:nth-child(2){
                	opacity: 0;
                }
                .top-menu__line:nth-child(3){
                	transform: translate(-5px, 3px) rotate(42deg) scalex(1.2);
                }
            }
        }
    }
}

@media (max-width: $small-device-width-point) {
    .top-menu {
        right: 15px;
        font-size: 24px;
        width: 240px;
        top: 98px;

        &__link {
            padding: 11px 28px;
        }
    }
}

@media (max-width: $tablet-device-width-point) {
    .top-menu {
        right: 51px;
    }
}

@media (max-width: $mobile-device-width-point) {
    .top-menu {
        font-size: 18px;
        width: 200px;
        padding: 5px 0;
        top: 60px;
        right: 14px;

        &__line {
            height: 4px;
            width: 25px;

            &:nth-child(2) {
                margin: 4px 0;
            }
        }

        &__menu-button {
            width: 40px;
            border: 2px solid transparent;
            padding: 6px;

            &:hover {
                border: 2px solid $white;
            }

            &_active {
                .top-menu__line:nth-child(1){
                	transform: translate(-3px, -2px) rotate(-42deg) scalex(1.2);
                }

                .top-menu__line:nth-child(3){
                	transform: translate(-3px, 2px) rotate(42deg) scalex(1.2);
                }
            }
        }

        .top-menu__line:nth-child(2) {
            margin: 5px 0;
        }
    }
}

@media (max-width: $small-mobile-device-width-point) {
    .top-menu {
        font-size: 18px;
        width: 200px;
        padding: 5px 0;
        top: 60px;
        right: 14px;

        &__menu-button {
            width: 40px;
            border: 2px solid transparent;
            padding: 6px;

            &:hover {
                border: 2px solid $white;
            }

            &_active {
                .top-menu__line:nth-child(1){
                	transform: translate(-3px, -2px) rotate(-42deg) scalex(1.2);
                }

                .top-menu__line:nth-child(3){
                	transform: translate(-3px, 2px) rotate(42deg) scalex(1.2);
                }
            }
        }

        .top-menu__line:nth-child(2) {
            margin: 5px 0;
        }

        &__link {
            padding: 10px 20px;
        }

        &__line {
            height: 4px;
            width: 25px;

            &:nth-child(2) {
                margin: 4px 0;
            }
        }
    }
}
