.top-menu {
    font-weight: 700;
    font-size: 26px;
    width: 100%;
    display: none;
    position: absolute;
    right: 0;
    width: 300px;
    top: 120px;
    text-align: left;
    background-color: $green;
    text-transform: uppercase;
    font-weight: 300;
    padding: 20px 0;
    z-index: 1;

    &__link {
        padding: 15px 30px;
        display: block;
        position: relative;
        color: $white;
        text-decoration: none;
        transition: 0.2s;

        &:hover {
            background-color: $white;
            color: $green;
        }
    }

    &__line {
        height: 8px;
        width: 100%;
        background-color: $white;
        display: block;
        transition: 0.2s;
        width: 43px;

        &:nth-child(1) {
            transform-origin: right top;
        }

        &:nth-child(3) {
            transform-origin: right bottom;
        }

        &:nth-child(2) {
            margin: 8px 0;
        }
    }

    &__menu-button {
        width: 65px;
        background-color: $green;
        padding: 8px;
        outline: none;
        display: inline-block;
        transition: 0.2s;
        cursor: pointer;
        border-radius: 3px;
        border: 3px solid transparent;

        &_active {
            background-color: $white;
            border: 3px solid $white;

            .top-menu__line {
                background-color: $green;
            }

            .top-menu__line:nth-child(1){
            	transform: translate(0, -8px) rotate(-45deg) scalex(1.6);
            }
            .top-menu__line:nth-child(2){
            	opacity: 0;
            }
            .top-menu__line:nth-child(3){
            	transform: translate(0, 7px) rotate(45deg) scalex(1.6);
            }
        }

        &:hover {
            border: 3px solid $white;
        }
    }
}

@media (max-width: $small-device-width-point) {
    .top-menu {
        font-size: 24px;
    }
}

@media (max-width: $small-mobile-device-width-point) {
    .top-menu {
        font-size: 18px;
        width: 200px;
        padding: 5px 0;
        top: 90px;

        &__menu-button {
            width: 55px;
            border: 2px solid transparent;

            &:hover {
                border: 2px solid $white;
            }

            &_active {
                .top-menu__line:nth-child(1){
                	transform: translate(0, 13px) rotate(-45deg) scalex(1.5);
                }

                .top-menu__line:nth-child(3){
                	transform: translate(0, 5px) rotate(45deg) scalex(1.5);
                }
            }
        }

        &__line {
            height: 5px;
        }

        .top-menu__line:nth-child(2) {
            margin: 5px 0;
        }

        &__link {
            padding: 10px 20px;
        }
    }
}
