$small-small-mobile-width-point-min: 360px;
$small-mobile-width-point-min: 510px;
$mobile-width-point-min: 768px;
$tablet-width-point-min: 1000px;
$small-device-width-point-min: 1200px;
$large-device-width-point-min: 1590px;

$small-small-mobile-width-point: 359px;
$small-mobile-device-width-point: 509px;
$mobile-device-width-point: 767px;
$tablet-device-width-point: 999px;
$small-device-width-point: 1199px;
$large-device-width-point: 1589px;

$mobile-width: 480px;
$tablet-width: 730px;
$small-device-width: 970px;
$large-device-width: 1170px;
$wide-device-width: 1560px;

$mobile-width-narrow: 300px;
$tablet-width-narrow: 700px;
$small-device-width-narrow: 800px;
$large-device-width-narrow: 950px;
$wide-device-width-narrow: 1240px;

$columnsQuantity: 24;




$white: #ffffff;
$gray: #F1F1F2;
$gray-dark: #666666;
$black-light: #989898;
$black-opacity: #333333;
$black: #000000;
$red: #bb222b;
$green: #99cc33;
$orange: #ff9933;
