$small-mobile-width-point-min: 400px;
$mobile-width-point-min: 750px;
$tablet-width-point-min: 970px;
$small-device-width-point-min: 1170px;
$large-device-width-point-min: 1560px;

$small-mobile-device-width-point: 399px;
$mobile-device-width-point: 749px;
$tablet-device-width-point: 969px;
$small-device-width-point: 1169px;
$large-device-width-point: 1559px;

$mobile-width: 300px;
$tablet-width: 700px;
$small-device-width: 920px;
$large-device-width: 1120px;
$wide-device-width: 1500px;

$mobile-width-narrow: 300px;
$tablet-width-narrow: 700px;
$small-device-width-narrow: 800px;
$large-device-width-narrow: 950px;
$wide-device-width-narrow: 1240px;

$columnsQuantity: 24;




$white: #ffffff;
$gray: #F1F1F2;
$gray-dark: #666666;
$black-light: #989898;
$black: #000000;
$red: #bb222b;
$green: #98C93F;
$orange: #F89722;
