.payment-logos {
    text-align: center;
    background-color: $gray;
    padding: 20px 0;

    &__container {
        @include container;
    }

    &__logo {
        display: inline-block;
        vertical-align: middle;
        padding: 0 43px;
    }

    &__img {
        height: 49px;
    }
}

@media (max-width: $large-device-width-point) {
    .payment-logos {
        &__img {
            height: 32px;
        }

        &__logo {
            padding: 0 23px;
        }
    }
}

@media (max-width: $small-device-width-point) {
    .payment-logos {
        &__logo {
            padding: 0 15px;
        }
    }
}

@media (max-width: $tablet-device-width-point) {
    .payment-logos {
        display: none;
    }
}
