.small-banner {
    background-color: $gray;
    padding: 36px 0 56px 0;
    text-align: center;
    display: none;

    &__info-text {
        color: white;
        font-size: 19px;
        padding: 10px 30px;
        background-color: $orange;
        text-align: center;
        line-height: 1.4;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 2px;
        width: 339px;
        box-sizing: border-box;
        display: inline-block;
        text-decoration: none;
        transition: 0.2s;
        min-height: 83px;

        &:first-letter {
            font-size: 27px;
        }
    }
}

.features + .small-banner {
    padding: 60px 0;
}

@media (max-width: $tablet-device-width-point) {
    .small-banner {
        display: block;
        padding: 0;
    }

    .slider__notice + .small-banner {
        margin-top: 45px;
    }
}

@media (max-width: $mobile-device-width-point) {
    .small-banner {
        padding: 10px 0 10px 0;

        &__info-text {
            font-size: 14px;
            padding: 4px 17px;
            min-height: 40px;
            width: auto;

            &:first-letter {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: $small-mobile-device-width-point) {
    .small-banner {
        padding: 10px 0 10px 0;

        &__info-text {
            font-size: 14px;
            padding: 4px 17px;
            min-height: 40px;
            width: auto;

            &:first-letter {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: $small-small-mobile-width-point) {
    .small-banner {
        padding: 10px 0 10px 0 !important;

        &__info-text {
            font-size: 14px;
            padding: 10px 20px;
            width: 226px;
            min-height: 64px;

            &:first-letter {
                font-size: 18px;
            }
        }
    }

    .features + .small-banner {
        padding: 40px !important;
    }
}
