.small-banner {
    background-color: $gray;
    padding: 36px 0;
    text-align: center;

    &__info-text {
        color: white;
        font-size: 19px;
        padding: 10px 30px;
        background-color: $orange;
        text-align: center;
        line-height: 1.4;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 2px;
        width: 339px;
        box-sizing: border-box;
        display: inline-block;

        &:first-letter {
            font-size: 27px;
        }
    }
}

@media (max-width: $small-mobile-device-width-point) {
    .small-banner {
        padding: 44px 40px 35px 40px;

        &__info-text {
            font-size: 14px;
            padding: 10px 20px;
            width: 226px;

            &:first-letter {
                font-size: 18px;
            }
        }
    }
}
