.app-buttons {
    display: flex;
    justify-content: space-between;

    &__app-button {
        width: 31%;
    }

    &_black {
        .app-buttons__app-button {
            background-color: $black-opacity;
            box-shadow: none;
        }
    }
}

@media (max-width: $small-device-width-point) {
    .app-buttons {
        &_black {
            .app-buttons__app-button {
                width: 33%;
            }
        }
    }
}

@media (max-width: $tablet-device-width-point) {
    .app-buttons {
        display: none;
    }
}
