.header {
    background-color: $green;
    padding: 23px 0 20px 0;
    color: $white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 110;

    &__fix {
        width: 100%;
    }

    &__container {
        @include container;
    }

    &__row {
        @include row;
        align-items: center;
    }

    &__logo {
        background-image: url('./logo.svg');
        width: 90px;
        height: 90px;
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: 47px;
        margin-left: 17px;
        display: inline-block;
        vertical-align: middle;
    }

    &__site {
        @include col(5, 8, 10, 8, 8);
    }

    &__name {
        font-size: 80px;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        color: $white;

        &_tablet {
            display: none;
        }
    }

    &__slogan {
        font-size: 44px;
        @include col(14, 8, 10, 14, 12);
        text-align: right;
    }

    &__slogan-text {
        &:first-letter {
            font-size: 58px;
        }
    }

    &__top-menu-block {
        @include col(5, 8, 4, 2, 2);
        @include push(0, 0, 0, 0, 2);
        text-align: left;
        position: relative;
    }
}

@media (max-width: $large-device-width-point) {
    .header {
        padding: 15px 0 15px 0;

        &__logo {
            width: 70px;
            height: 70px;
            margin-left: 14px;
            margin-right: 28px;
        }

        &__name {
            font-size: 60px;
        }

        &__slogan-text {
            font-size: 33px;
            padding-right: 88px;

            &:first-letter {
                font-size: 44px;
            }
        }
    }
}

@media (max-width: $small-device-width-point) {
    .header {
        padding: 20px 0 20px 0;

        &__logo {
            width: 60px;
            height: 60px;
            margin-left: 0;
            margin-right: 35px;
        }

        &__name {
            font-size: 54px;
        }

        &__slogan {
            padding-right: 0;
        }

        &__slogan-text {
            padding-right: 0;
            font-size: 29px;

            &:first-letter {
                font-size: 38px;
            }
        }

        &__top-menu-block {
            text-align: right;
        }
    }
}

@media (max-width: $tablet-device-width-point) {
    .header {
        &__name {
            display: none;
            font-size: 44px;

            &_tablet {
                display: block;
            }
        }

        &__slogan {
            text-align: center;
            padding-right: 15px;
            padding-left: 5px;
        }

        &__slogan-text {
            font-size: 16px;

            &:first-letter {
                font-size: 22px;
            }
        }

        &__logo {
            width: 58px;
            height: 58px;
            margin-left: 49px;
        }

        &__top-menu-block {
            padding-right: 53px;
        }
    }
}

@media (max-width: $mobile-device-width-point) {
    .header {
        padding: 11px 0 12px 0;

        &__logo {
            width: 52px;
            height: 52px;
            margin-left: 15px;
        }

        &__name {
            font-size: 40px;
            padding-bottom: 2px;
        }

        &__slogan-text {
            font-size: 14px;

            &:first-letter {
                font-size: 15px;
            }
        }

        &__top-menu-block {
            padding-right: 20px;
        }
    }
}

@media (max-width: $small-mobile-device-width-point) {
    .header {
        &__logo {
            width: 35px;
            height: 35px;
            margin-left: 9px;
        }

        &__name {
            font-size: 27px;
        }

        &__slogan-text {
            font-size: 11px;

            &:first-letter {
                font-size: 12px;
            }
        }

        &__top-menu-block {
            padding-left: 0;
            padding-right: 16px
        }
    }
}

@media (max-width: $small-small-mobile-width-point) {
    .header {
        padding: 7px 0 7px;
    }
}
